[[source]]
url = "https://repo.narvanventures.com/repository/pyp/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
fastapi = "==0.115.0"
sqlalchemy = "==2.0.35"
mysqlclient = "==2.2.4"
uvicorn = {extras = ["standard"], version = "==0.31.0"}
python-dotenv = "==1.0.1"

[dev-packages]
pre-commit = "==3.8.0"
pytest = "==8.3.3"
pytest-cov = "==5.0.0"
black = "==24.8.0"

[requires]
python_version = "3.11"
